* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.pizzanav {
    height: 50px;
    width: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn {
    background: linear-gradient(90deg, #FFA100 0%, #fb103d);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;

}

.btna {
    color: white;
}

.divrecomendación {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 25px;
}

.imgr1 {
    height: 50px;
    width: 50px;
}

.rbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FFA100 0%, #fb103d);
    height: 20px;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    
}

.divr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black; */
    height: 70px;
    width: 250px;
    background: #252525;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 5px;

}