:root{
    --background:#252525;
    --text-white:#ffffff;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.pizzanav {
    height: 50px;
    width: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 20px;
}
.navbar-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    gap: 5px;
}
.navbar-list li {
    color: var(--text-white);
}
.logonav{
    width: 40px;
    
}
.carritonav{
    width: 30px;
    height: 30px;
}
#section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background: var(--background);
}
.section-1-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-1-info h1{
    font-size: 50px;
    font-weight: 600;
    padding-left: 80px;
    color: var(--text-white);
}
.section-1-info p{
    font-size: 20px;
    font-weight: 300;
    padding-left: 60px;
    color: var(--text-white);
}
section-1-imagen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.btn {
    background: linear-gradient(90deg, #FFA100 0%, #fb103d);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;

}

.btna {
    color: white;
}
#section-2{
    background: var(--background);
}

#section-2 h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
}

.divrecomendación {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 25px;
    
}
    


.imgr1 {
    height: 50px;
    width: 50px;
}

.rbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FFA100 0%, #fb103d);
    height: 20px;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    
}

.divr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black; */
    height: 70px;
    width: 250px;
    background: #252525;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);

}